google-services.json
GoogleService-Info.plist
lib/firebase_options.dart
web/firebase-config.js
firebase_app_id_file.json

/build/
/.dart_tool/
.flutter-plugins-dependencies
.flutter-plugins
*.g.dart

.idea/
.vscode/
*.iml

/android/app/build/
/ios/Flutter/Generated.xcconfig
/ios/.symlinks/
/ios/Pods/
/ios/Podfile.lock

.env
google-services.json
GoogleService-Info.plist
firebase_options.dart
key.properties

# Other Common Exclusions
*.log
.DS_Store
Thumbs.db